.infNavResult {
    width:fit-content;
}

canvas {
    background-color: black;
    width: 600px;
    aspect-ratio: 1/1;
    image-rendering: optimizeSpeed;
    margin-top: 2px;
}

canvas:hover {
    cursor: pointer;
}

fieldset {
    width: fit-content;
    border: solid black;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    margin-bottom: 10px;
}

.controls fieldset {
    height: auto;
    width: auto;
}

#infNavBeta {
    width: calc(100% - 9px);
}

#infNavBetaSlider {
    width: calc(100% - 29px);
}

#animationToggle {
    width: fit-content;
}

#animationToggle:hover {
    cursor: pointer;
}

.three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100% - 9px);
}

.three input {
    width: 100%;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.bigButton {
    width: 100%;
}

#infNavInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    text-align: center;
}

.infNavColorCode {
    border: solid rgba(0,0,0,0) 2px;
    text-align: left;
    border: solid rgba(0,0,0,0) 2px;
}

.infNavColorCode input:hover {
    cursor: pointer;
}

#calculationsProof {
    margin-top: 50px;
}

.matrices {
    display: flex;
    margin-top: 10px;
    height: fit-content;
}

.equal {
    margin: auto 5px auto 0
}

.matrix {
    width: fit-content;
    border: solid 2px black;
    border-top: 0;
    margin-right: 5px;
}

.drawLine {
    border-top: solid 2px black;
    width: 100%;
}

.eraser {
    width: calc(100% - 12px);
    margin-inline: auto;
    overflow: visible;
}

.matrix table {
    border-collapse: separate; 
    table-layout: fixed;
    border-spacing: 5px;
}

.matrix td {
    text-align: center;
    width: fit-content;
}

.eraser {
    color: white;
}

#cursor {
    position: absolute;
    user-select: none;
    top: 0;
    left: 0;
    text-shadow: 0 0 10px white;
}
